@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

.reg-body{
background: url(./purple-gradient-background-bywul1wtjnnbbpbk.jpg);
height: 100vh;
}

.register{
  height: calc(100vh - 74px);
  margin:6px auto;
  max-width: 978px;
  width: 100vw;
  display:flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  background-color: white;
}

.register span{
  color: #adb5bd;
}

.register #form{
  max-width: 320px;
  width: 100vw;
}

.register #form >  input, .btn{
  border: 1px solid #e9ecef;
  padding: .9em 1em;
}

.register #form > input:focus{
  outline: none;
}

.register #form > .btn{
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
.register .sign-in{
  text-decoration: none;
  text-transform: capitalize;
}
.register .sign-in span{
  color: #003049;
  text-decoration: underline;
  text-transform: capitalize;
}

.register .flex{
  display: flex;
  gap: 1em;
}

.register .flex-col{
  flex-direction: column;
}

.register .col-1{
  margin: auto;
  padding: 3em 0;
}

.register .col-2 img{
  width: 480px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

@media screen and (min-width: 860px)  {
  .register .col-2 img{
    display: initial;
  }
}